html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d0c57;
    padding: 15px;
}

.header h1 {
    color: white;
    margin: 0;
}

nav {
    display: flex;
    gap: 20px;
    align-items: center;
}

nav a {
    font-size: 14px;
    text-decoration: none;
    color: white;
}

.menu {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 30%;
    left: 0;
    background-color: white;
    min-width: 200px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.submenu a:hover {
    background-color: #f2f2f2;
}

.header img {
    height: 40px;
}

nav a:hover {
    color: #ff4da6;
}

.submenu a {
    display: block;
    padding: 10px;
    color: black;
}

.menu:hover .submenu {
    display: block;
}

.hero {
    text-align: center;
    padding: 50px;
    background-color: #f2f2f2;
}

.btn {
    padding: 10px 20px;
    background-color: #d5006d;
    color: white;
    border: none;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    padding: 20px;
}

.card {
    border: 1px solid #eee;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #2d0c57;
    color: white;
    padding: 10px;
}